body {
  margin-left: 10%;
  margin-right: 10%;
}

.chocopizza {
  width: 100%;
  margin: auto;
}

.chocopizzaimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
 }

 .recipelistimg {
  width: 100%;
  height: 300px;
  margin: auto;
 }

 button {
  width: 100px;
  height: 40px;
  float: right;
  display: inline-block;
  margin-top: -100px;
 }


 h3 {
  /* display: inline-block; */

 }

 .vanessap {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 80px;
  bottom: 75px;
  margin-top: 0;
  margin-bottom: 0;
 }

 #logo {
  display: block;
  margin: auto;
 }